.App{
  display: grid;
  place-items: center;
  text-align: center;
  width: 100vw;
}
.form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form label{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.App input{
  width: 100px;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
}

.timer{
  font-size: 42px;
}